* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: aliceblue;
  padding: 10px;
  margin-bottom: 20px;
  height: 100%;
}

body {
  background-image: linear-gradient(
    to right,
    #8e8888,
    #3a3942
  );
  font-family: "Lora", serif;
  font-size: medium;
  min-height: 100vh;
  display: flex;
}

label {
  font-weight: bold;
}

h1 {
  text-align: center;
}

.container-calc {
  padding: 90px;
  width: 900px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: aliceblue;
  margin-left: 300px;
  margin-top: 10px;
  border-radius: 6px;
  flex-direction: column;
  border: 4px solid #535656;
}

.container-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
  width: 800px;
  margin-left: 300px;
  background-color: #edf3f5;
}

.presentation {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  gap: 10px;
  border: 1px solid #e9edef;
  width: 700px;
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px;
}

.grid-container img {
  width: 100%;
}
.valores {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.valores .item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.valores .item label {
  margin-bottom: 5px;
}

.valores .item input {
  width: auto;
  height: 30px;
  font-size: medium;
}

#sidebar {
  max-width: 85px;
  height: 100%;
  background-color: #3a3942;
  padding: 40px 0 40px 0;
  box-shadow: 3px 0 0 #2a8799;
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
}

#sidebar.open-sidebar {
  max-width: 380px;
  transition: 0.5s;
}

#open-btn {
  width: 100%;
  padding-left: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#open-btn > i {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

#open-btn > i:hover {
  color: #2a8799;
}

#side-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  list-style-type: none;
  padding-left: 10px;
}

.side-item {
  width: 100%;
}

.side-item.active {
  background-color: #2a8799;
  border-radius: 16px 0px 0px 16px;
}

.active {
  background-color: #0c32e9;
  border-radius: 16px 0px 0px 16px;
}

.side-item:hover:not(.active) {
  background: #ffffff;
  border-radius: 16px 0px 0px 16px;
}

.side-item:hover:not(.active) .icon,
.side-item:hover:not(.active) .item-description {
  color: #2a8799;
}

.side-item a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  padding: 20px;
  align-items: center;
  white-space: nowrap;
}

.icon {
  font-size: 30px;
}
.item-description {
  color: #ffffff;
  margin-left: 25px;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
